@model Domain.Entities.Post
@using MVCBlog.Helpers

<style>
    @Html.EmbedCss("~/Content/themes/base/css/post_item.css")
</style>


<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div id="leftContent">
				<div class="inner">
					<div class="main section" id="main">
						<div class="widget Blog" id="Blog1">
							<div class="four columns post_col masonry-brick">
								<div class="post_item">
									<h1>@Model.Title</h1>
									<div class="post_meta">
									    <span class="user">
									        by <span style="color: #E74C3C;">@Model.Author.Login</span>
									    </span>
									    <span class="time">@Model.PostedOn.ToShortDateString()</span>
									    <span class="comment">
									        <a class="comment-link"
                                               href="http://sight-soratemplates.blogspot.in/2013/06/lorem-ipsum-dolor-sit-amet_6010.html#comment-form">
                                             
									            comments</a>
									    </span>
									</div>
									<div class="post-body">
										<div class="separator" style="clear: both; text-align: center;">
											<a href="@Url.Content(@Model.Image)"><img border="0" src="@Url.Content(@Model.Image)"></a>
										</div>
										<div>@Html.Raw(@Model.Description)</div>
									</div>
									<div class="clear"></div>
									<div class="post-footer">
										@Html.Partial("_Tags", @Model.Tags)
									</div>
								</div>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>