@model Domain.Entities.Post
@using MVCBlog.Helpers
@using BusinessLogic.Handlers
@using Domain.Entities
@{
    var _comment = new CommentHandler();
    IList<Comment> comments = _comment.CommentsForPost(@Model.Id);
    ViewBag.TotalCommentsForPost = _comment.TotalCommentsForPost(@Model.Id);
}
<style>
    @Html.EmbedCss("~/Content/themes/base/css/post_item.css")
</style>


<div class="container">
	<div class="row">
		<div class="twelve columns">
			<div id="leftContent">
				<div class="inner">
					<div class="main section" id="main">
						<div class="widget Blog">
							<div class="columns masonry-brick">
								<div class="post_item">
									<h1>@Model.Title</h1>
									<div class="post_meta">
									    <span class="user">
									        by <span style="color: #E74C3C;">@Model.Author.UserName</span>
									    </span>
									    <span class="time">@Model.PostedOn.ToShortDateString()</span>
									    <span class="comment">
									        <a class="comment-link"
                                               href="#comments">
                                             
									           @ViewBag.TotalCommentsForPost comments</a>
									    </span>
									</div>
									<div class="post-body">
										<div class="separator" style="clear: both; text-align: center;">
											<a href="@Url.Content("~/Content/themes/base/images/posts/" + @Model.Image)"><img border="0" src="@Url.Content("~/Content/themes/base/images/posts/" + @Model.Image)"></a>
										</div>
										<div>@Html.Raw(@Model.Description)</div>
									</div>
									<div class="clear"></div>
									<div class="post-footer">
										@Html.Partial("_Tags", @Model.Tags)
									</div>
								</div>
                             </div>
                             @{ViewBag.PostId = @Model.Id;}
                             @Html.Partial("_Comments", comments)
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>

