@using Domain.Entities
@using BusinessLogic
@model IList<Comment>

<div class="comments" id="comments">
    <h4>@ViewBag.TotalCommentsForPost comments:</h4>

@if (ViewBag.TotalCommentsForPost != 0)
{
    <div class="comments_wrapper">

    @foreach (var comment in @Model)
    {
	    <div style="margin-bottom: 20px; border-bottom: 1px solid #EEE;">
            <a style="margin-right: 15px">@comment.User.UserName</a>
            <a>@comment.Created.ToConfigLocalTime()</a>
            <div style="margin-top: 5px">@comment.Text</div>
	    </div>
    }

    </div>
}


    <p class="comment-footer"></p>

    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <p>You must sign in to share your comment. <a href="/login">Sign in</a> or <a href="/register">Register</a></p>
    }
    else
    {
        <div id="comment-form">
            <p>Share your comment:</p>
            <br />
            <form action="/addComment" method="post">
                <div id="commentsHolder">
                    <textarea style="width: 100%; margin: auto;" name="commentBody" rows="6" cols="50" id="commentBodyField" placeholder="Enter your comment..."></textarea>
                    <br><br>
                </div>
                <div id="postCommentButtonHolder" class="postCommentButtonHolder">
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@ViewBag.PostId" name="postId" />
                    <input type="submit" name="postCommentSubmit" value="Publish" class="button" style="background-color: #4D90F0;">
                    <span id="empty-error"></span><span id="body-error"></span>
                </div>
            </form>
        </div>
    }
</div>