@model MVCBlog.Models.PostViewModel

    <div class="columns">
        <div class="post_item">
	        <div class="post-body">
		        <a href="page.html">
			        <div class="large_thumb thumb_hover">
				        <div class="img_wrapper">
					        <img class="thumb" src=@Url.Content(@Model.Posts[ViewBag.Number].Image)>        
						</div>
				    </div>
		        </a>
		        <h3 class="post_item_title">
			        <a rel="bookmark" href="page.html">@Model.Posts[ViewBag.Number].Title</a>
		        </h3>
		        <div class="post_meta">
			        <span class="user">by <span style="color: #E74C3C;">@Model.Posts[ViewBag.Number].Author.Login</span></span>
		            <span class="time">@Model.Posts[ViewBag.Number].PostedOn.ToShortDateString()</span>
	           </div>
			   <div class="post_item_inner">
			       <p>@Model.Posts[ViewBag.Number].ShortDescription</p>
		           <a class="button normal" rel="bookmark" href="page.html">Read More</a>												
			   </div>										
		   </div>
        </div>
    </div>

