@model Domain.Entities.Post
@using BusinessLogic

    <div class="columns">
        <div class="post_item">
	        <div class="post-body">
		        <a href="/posts/@Model.Category.UrlSlug/@Model.UrlSlug">
			        <div class="large_thumb thumb_hover">
				        <div class="img_wrapper">
					        <img class="thumb" src="@Url.Content("~/Content/themes/base/images/posts/" + @Model.Image)">        
						</div>
				    </div>
		        </a>
		        <h3 class="post_item_title">
			        <a rel="bookmark"
                       href="@Url.Action("GetPost", "Post", new 
                                                        {
                                                            categorySlug = @Model.Category.UrlSlug,
                                                            postSlug = @Model.UrlSlug
                                                        })">@Model.Title</a>
		        </h3>
		        <div class="post_meta">
			        <span class="user">by <span style="color: #E74C3C;">@Model.Author.UserName</span></span>
		            <span class="time">@Model.PostedOn.ToConfigLocalTime()</span>
	            </div>
			    <div class="post_item_inner">
			       @Html.Raw(@Model.ShortDescription)
		           <a class="button normal"
                      rel="bookmark"
                      href="@Url.Action("GetPost", "Post", new 
                                                        {
                                                            categorySlug = @Model.Category.UrlSlug,
                                                            postSlug = @Model.UrlSlug
                                                        })">Read More</a>												
			    </div>										
		   </div>
        </div>
    </div>
