@{
    Layout = null;
}

<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manage Posts, Categories and Tags</title>
 
    <!-- jquery library -->
    <script src="@Url.Content("~/Content/themes/base/js/vendor/jquery-1.8.2.js")"></script>
 
    <!-- jquery ui library -->
    <script src="@Url.Content("~/Content/themes/base/js/vendor/jquery-ui.js")"></script>
    <link href="@Url.Content("~/Content/themes/base/css/jquery-ui-1.9.2.custom.min.css")" rel="stylesheet" />
 
    <!-- jqgrid -->
    <link href="@Url.Content("~/Content/themes/base/js/vendor/jqgrid/css/ui.jqgrid.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/themes/base/js/vendor/jqgrid/js/jquery.jqGrid.js")"></script>
    <script src="@Url.Content("~/Content/themes/base/js/vendor/jqgrid/js/i18n/grid.locale-en.js")"></script>
 
    <!-- tinyMCE -->
    <script src="@Url.Content("~/Content/themes/base/js/vendor/tiny_mce/tiny_mce_src.js")"></script>
 
    <link href="@Url.Content("~/Content/themes/base/css/admin.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/themes/base/js/admin.js")"></script>
 
</head>
<body>
     
    <!-- visit livesite link -->
    <div style="float:left; margin-bottom:5px;">
        <a href="/">Live Site</a>
    </div>

    <!-- logout link -->
    <div style="float:right; margin-bottom:5px;">
        <a href="/logout">logout</a>
    </div>
    
    <div style="clear: both"></div>

    <h2>Manage Posts, Categories and Tags</h2>
 
    <!-- tab control -->
    <div id="tabs">
        <ul>
            <li><a href="#tab-posts">Posts</a></li>
            <li><a href="#tab-cats">Categories</a></li>
            <li><a href="#tab-tags">Tags</a></li>
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                <li><a href="#tab-users">Users</a></li>
            }
        </ul>
         
        <div id="tab-posts" class="tab">
            <table id="tablePosts" class="grid">
            </table>
            <div id="pagerPosts" class="pager">
            </div>
        </div>
         
        <div id="tab-cats" class="tab">
            <table id="tableCats" class="grid">
            </table>
            <div id="pagerCats" class="pager">
            </div>
        </div>
         
        <div id="tab-tags" class="tab">
            <table id="tableTags" class="grid">
            </table>
            <div id="pagerTags" class="pager">
            </div>
        </div>

       
        <div id="tab-users" class="tab">
            <table id="tableUsers" class="grid">
            </table>
            <div id="pagerUsers" class="pager">
            </div>
        </div>
        
    </div>
</body>
</html>