@model MVCBlog.Models.PostViewModel

@{
    ViewBag.Title = "Home";
    bool isSecondColumn = false;
    int i = 0;
    int n = @Model.TotalPostsForPage / 3;
    int remainder = @Model.TotalPostsForPage % 3;
}
    @switch (remainder)
    {
        case 0:
            remainder = 0;
            break;
        case 1:
            remainder = 1;
            break;
        case 2:
            remainder = 1;
            isSecondColumn = true;
            break;
    }


@Html.Partial("_Slider")

@if (@Model.Posts.Count == 0)
{
    <h2>Sorry, posts not found...</h2>
}

<div class="container" style="margin-top: 30px;">
    <div class="row">

        <div class="megacolumn">

            @for (i = 0; i < n + remainder; i++)
            {
                ViewBag.Number = i;
                @Html.Partial("_PostItem");
            }
            
        </div>
         
        <div class="megacolumn">
            
            @{int k = i + n;}
            @if (isSecondColumn)
            {
                k += remainder;
            }
      
            @for(; i < k; i++)
            {
                ViewBag.Number = i;
                @Html.Partial("_PostItem");
            }
            
        </div>
      
          
        <div class="megacolumn">

            @for (; i < @Model.TotalPostsForPage; i++)
            {
                ViewBag.Number = i;
                @Html.Partial("_PostItem");
            }
           
        </div>
              

        <div class="clear"></div>

    </div>
    @if (@Model.Posts.Count != 0)
    {
        @Html.Partial("_Pager")
    }

</div>













